/* .songRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  justify-content: space-between;
} */

.songRow:hover {
  background-color: white;
}

/* .leftComponent {
  display: flex;
  align-items: center;
} */

/* .rightComponent {
  display: flex;
  align-items: center;
} */

.playButtonSmall {
  /* Adjust font size */
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

.songDetails {
  flex-grow: 1;
}

.songName {
  font-weight: bold;
  margin-left: 10px;
}

.singer {
  color: #777;
}

.ringtoneIcon {
  margin-right: 10px;
}

.leftComponent {
  display: flex;
  align-items: center;
}

.rightComponent {
  display: flex;
  align-items: center;
  justify-self: end;
} /* */

@media screen and (max-width: 768px) {
  .middleComponent {
    display: none; /* Hide the rows on smaller screens */
  }
}

/* Add or modify styles as needed */
