.stickyBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f6f6f6;
  text-align: center;
  z-index: 10;
  height: 70px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Add a box shadow to create the raised effect */
}

.stickyBarBottomSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9px;
  padding-left: 15px;
  padding-right: 15px;
}

.stickyBarMiddleSection {
  display: flex;
}

.songInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.songInfo img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 4px;
}

.songInfoHidden {
  display: flex;
  align-items: center;
  gap: 10px;
  visibility: hidden;
}

.songInfoHidden img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 4px;
  visibility: hidden;
}

.playButton {
  background-color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.progressBar {
  width: 100%;
  height: 3px;
  background-color: #555;
  cursor: pointer;
  position: relative;
}

.progress {
  height: 100%;
  background-color: black;
  width: 0%;
}

.playIcon {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.hoverTime {
  position: absolute;
  top: -30px;
  left: 0;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
}

.timeDisplay {
  padding: 10px;
}
