@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

html,
body {
  width: 100%;
  height: 100%;
}

/* RoundedButton.module.css */

/* MusicPage.module.css */

/* General styles */

/* Top Component */
.top-component {
  margin-bottom: 20px;
}

.top-left {
  display: flex;
  align-items: center;
}

.song-cover {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.play-button {
  margin-top: 10px;
  padding: 6px 30px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: #2980b9;
}

/* Song List */

.song-cover {
  max-width: 100px; /* Set maximum width for the image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
}
