@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html,
body {
  width: 100%;
  height: 100%;
}

/* RoundedButton.module.css */

/* MusicPage.module.css */

/* General styles */
.music-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Top Component */
.top-component {
  margin-bottom: 20px;
}

.top-left {
  display: flex;
  align-items: center;
}

.song-cover {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.play-button {
  margin-top: 10px;
  padding: 6px 30px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: #2980b9;
}

/* Song List */
.song-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.song-details {
  flex-grow: 1;
}

.song-name {
  font-weight: bold;
}

.singer {
  color: #777;
}

.ringtone-icon {
  margin-right: 10px;
}

.options-button {
  padding: 5px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  color: #777;
  transition: color 0.3s ease;
}

.options-button:hover {
  color: #333;
}

.song-cover {
  max-width: 100px; /* Set maximum width for the image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
}

.play-button-small {
  padding: 4px 8px; /* Adjust padding */
  font-size: 12px; /* Adjust font size */
  border: none;
  border-radius: 20px; /* Make it more round */
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Leave some gap between title and play button */
}

.side-menu {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.options {
  position: absolute;
  top: 20px; /* Adjust this value to position the menu properly */
  right: 0;
  width: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #f5f5f5;
}
